<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h2>Item List</h2>

<a href="/items/new">+ Add New Item</a>

<table border="1" cellpadding="6" cellspacing="0" style="margin-top:10px;">
    <thead>
    <tr>
        <th>ID</th><th>Name</th><th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(items)}">
        <td colspan="3">No items yet.</td>
    </tr>
    <tr th:each="i : ${items}">
        <td th:text="${i.id}"></td>
        <td th:text="${i.name}"></td>
        <td th:text="${i.quantity}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/logout}" method="post" style="display:inline">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    <button type="submit">Logout</button>
</form>
</body>
</html>
